body, td {
    background: #ccc;
    font-family: verdana;
    font-size: 12px;
}

a {
}

a:hover {
}

#gameboard{
    background: white;
    border: 1px solid #666;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px; /* Half the height */
    margin-left: -150px; /* Half the width */
}

#boardblocker{
    background: rgba(255,255,255,0.75);
    border: 1px solid #666;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px; /* Half the height */
    margin-left: -150px; /* Half the width */

    vertical-align: middle;
    text-align: center;
    line-height: 300px; 
    font-size: 30px;

}

#gameboard > ul{
    margin: 0;
    padding: 0;
}

#gameboard > ul > li{
    list-style: none;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    background: #eee;
    float: left;

    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
    font-size: 30px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border: 1px solid #000;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gameboard > ul > li:hover{
    background: #fff;
    cursor: pointer;
}
